ul{
    padding: 0px;
    list-style: none; /*quitar bullets*/
}
body{
    margin:0px
}
.navbar{
    display: flex; /*mueve una al lado de la otra. no en lista*/
    justify-content: space-between;
}
.class{
    height: 70px}
.mainButton{
    background-color: palevioletred;
    color: white;
    border: 0px;
    padding: 7px 10px;
    border-radius: 6px;
    font-weight: bolder;
}
.mainButton:hover{
    cursor: pointer;
    box-shadow: 2px 2px pink;
    transform: scale(1.05);
}